[user]
        email = 43884417+kanniep@users.noreply.github.com
        name = Kantapon Pornprasertsakul
[pull]
        rebase = false
[includeIf "gitdir:~/Workspace/"]
    path = ~/Workspace/.gitconfig
[status]
        submoduleSummary = true
[core]
	editor = code --wait
